html {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

header, li a {
    color: rgb(26, 26, 26);
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: auto;
    display: inline-flex;
    text-align: center;
}

li a {
    text-decoration: none;
    padding: 10px;
} 

li a:hover {
    color: grey;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 54px;
    font: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-size: 26px;
    font: italic;
    margin-top: 0px;
}